.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 90vh;
  background-color: #54483a;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(
      rgba(16, 29, 44, 0.93),
      rgba(16, 29, 44, 0.93)
    ),
    url(./Pictures/backgroundimg.jpg);
  background-size: cover;
  background-position: center;
}

/* Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */
